services:
  proxy:
    image: nginx:1.29.5-alpine
    container_name: renovar_proxy
    volumes:
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
    ports:
      - 80:80
    depends_on:
      - api
      - front
      - minio

  front:
    build: ./renovarWeb/
    container_name: renovar_front
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - api

  api:
    build: ./renovarAPI/
    container_name: renovar_api
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - minio
      - db

  minio:
    image: minio/minio:latest
    container_name: renovar_minio
    restart: unless-stopped
    command: server /data --console-address :9001
    environment:
      - MINIO_ROOT_USER=${MINIO_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_PASSWORD}
    ports:
      - ${MINIO_API_PORT}:9000
      - ${MINIO_CONSOLE_PORT}:9001
    volumes:
      - minio_data:/data

  db:
    image: postgres:18-alpine
    container_name: renovar_postgres_db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  minio_data:
  postgres_data:
